<h1>New Posts</h1>

<ul>
  {{#each post}}
  <li>
    <p>
      {{this.id}}. {{this.post}}

      <button data-postid="{{this.id}}" class="delpost">Delete Post!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a Post</h2>
<div class="container"></div>
<div class="col-4"></div>
<form>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">Size</label>
    <select class="AllSizes" id="Size">
      <option>XS</option>
      <option>S</option>
      <option>M</option>
      <option>L</option>
      <option>XL</option>
      <option>XXL</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Event</label>
    <select class="AllEvents" id="Event">
      <option>Casual</option>
      <option>Formal</option>
      <option>Sport</option>
      <option>Bussiness Casual</option>
      <option>Black Tie</option>
    </select>
  </div>
 

  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Your Item Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group" id="addImage">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
<button type="submit">Create Post!</button>
</form>

<h2>Update a Post</h2>
<form id="updatepost" class="button-size">
  <select name="id">
		{{#each plans}}
			<option value="{{this.id}}">{{this.plan}}</option>
		{{/each}}
	</select>
    <form>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">Size</label>
    <select class="AllSizes" id="Size">
      <option>XS</option>
      <option>S</option>
      <option>M</option>
      <option>L</option>
      <option>XL</option>
      <option>XXL</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Event</label>
    <select class="AllEvents" id="Event">
      <option>Casual</option>
      <option>Formal</option>
      <option>Sport</option>
      <option>Bussiness Casual</option>
      <option>Black Tie</option>
    </select>
  </div>
 

  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Your Item Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group" id="updateImage">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <button type="submit">Update Post!</button>
</form>
</div>
<div class="col-8">
  

</div>
</div>


<script type="text/javascript">
  $(".delpost").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    var id = $(this).data("postid");

    // Send the DELETE request.
    $.ajax("/api/posts/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createpost").on("submit", function(event) {
    
    event.preventDefault();

    
    var newPost = {
      plan: $("#createpost[name=post]").val().trim()
    };

    
    $.ajax("/api/posts", {
      type: "POST",
      data: newpost
    }).then(
      function() {
        console.log("created new plan");
        
        location.reload();
      }
    );
  });

  $("#update").on("submit", function(event) {
    
    event.preventDefault();

   
    var id = $("[name=id]").val().trim();

    var updatedPost = {
      plan: $("#updatepost [name=post]").val().trim()
    };

    
    $.ajax("/api/posts/" + id, {
      type: "PUT",
      data: updatedPost
    }).then(
      function() {
        console.log("updated id ", id);
        
        location.reload();
      }
    );
  });
</script>
